<section class="sponsors">
<h2>We love our sponsors!</h2>

<div class="sponsor-level galaxy">
  <h3>Galaxy Sponsors</h3>
  <div class="sponsors-container">
    <% galaxy_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="sponsor-level globe">
  <h3>Globe Sponsors</h3>
  <div class="sponsors-container">
    <% globe_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="sponsor-level continent">
  <h3>Continent Sponsors</h3>
  <div class="sponsors-container">
    <% continent_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="new-sponsor">
  <h3>You could be a sponsor</h3>

  <p>
  With an average of 20-25 participants at each of
  our projected 200 coderetreats (last year we had 150),
  we currently are forecasting over 3000
  passionate software developers world-wide.
  </p> <p>
  By becoming a global sponsor,
  you will have a presence in front of all of them.
  For more information about our needs and sponsorship plans,
  please please
  <a href="http://globalday.coderetreat.org/gdcr_2014_global_sponsor_prospectus.pdf">
    download our sponsorship prospectus
  </a>
  and
  <a href="mailto:gdcr@coderetreat.org?subject=GDCR%20Sponsorship">
    contact the global event organizers.
  </a>
  </p>
</div>
</section>
