<section class="sponsors">
<h2>We love our sponsors!</h2>

<div class="sponsor-level galaxy">
  <h3>Galaxy Sponsors</h3>
  <div class="sponsors-container">
    <% galaxy_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="sponsor-level globe">
  <h3>Globe Sponsors</h3>
  <div class="sponsors-container">
    <% globe_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="sponsor-level continent">
  <h3>Continent Sponsors</h3>
  <div class="sponsors-container">
    <% continent_sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>
</section>
