<section class="sponsors">
<h2>We love our sponsors!</h2>

<% {
  galaxy: galaxy_sponsors,
  globe: globe_sponsors,
  continent: continent_sponsors,
}.each do |level, sponsors| %>
<div class="sponsor-level <%=level%>">
  <h3><%=level.to_s.titleize%> Sponsors</h3>
  <div class="sponsors-container">
    <% sponsors.each do |sponsor| %>
      <div class="sponsor <%=sponsor.name.downcase%>">
        <a href="<%= sponsor.url %>">
          <img src="<%=sponsor.logo_path%>" alt="<%=sponsor.name%>"></img>
        </a>
      </div>
    <% end %>
  </div>
</div>
<% end %>
</section>
