<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="The Global Day of Coderetreat as a day when developers all over the world will be practicing the fundamentals of software development." />
  <%= yield :head %>
  <link rel="icon" type="image/png" href="/assets/gdcr-favicon.ico">

  <title>Coderetreat Live! - Coordination for simultaneous coderetreat events</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">

	<header class="branding">
		<a id="logo" href="/"><img src="http://globalday.coderetreat.org/images/gdcr-world.png" alt="logo"/></a>
		<h1><a href="/">Global Day of Coderetreat - honing the craft together...all over the world</a></h1>
	</header>

	<aside>
		<header>
		<h2>Actions</h2>
		</header>
	</aside>

  <article>
    <%= yield %>
  </article>

  </div>

</body>
</html>
